/__pycache__

/input
/result
/result_seq
/test
/custom_okt/my_nouns.txt
/custom_okt/my_typos.txt
/custom_okt/open-korean-text*
/stopwords/stopwordlist.txt
/util/key.csv

my_scratch.py
test_*.py
task_*.py